@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&display=swap");

/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.testFont {
  font-family: Stereofunk;
  color: black;
}

* {
  box-sizing: border-box;
}

body {
}

/* //////////////////////navbar/////////////////////////////// */

/* ///////////////////homepage////////////////////// */
h1 {
  color: white;
  font-family: "Orbitron", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 650px;
}

h1 span {
  font-size: 50px;
  margin-left: 0px;
}

@media (max-width: 600px) {
  h1 span {
    font-size: 30px;
    margin-left: 0px;
  }

  h1 {
    color: white;
    font-family: "Orbitron", sans-serif;
    font-size: 2rem;
    font-weight: 900;
    line-height: 1.5;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: 330px;
  }
}

.message {
  /* background-color: #5994ce; */
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #e2a8ff 0,
    #9e018e 100%
  );
  color: #333;
  display: block;
  font-weight: 700;
  overflow: hidden;
  position: absolute;
  padding-left: 0.5rem;
  top: 0.2rem;
  left: 200px;
  animation: openclose 5s ease-in-out infinite;
}
.purple-box {
  display: none;
}

@media (max-width: 1080px) {
  .message {
    /* background-color: #5994ce; */
    display: none;
  }
  .purple-box {
    background-image: radial-gradient(
      100% 100% at 100% 0,
      #e2a8ff 0,
      #9e018e 100%
    );
    color: #333;
    display: inline;
    padding: 0.5rem;
    margin-left: 1.5rem;
    font-weight: 600;
  }
}

@media (max-width: 600px) {
  .message {
    /* background-color: #5994ce; */
    /* background-image: radial-gradient(
      100% 100% at 100% 0,
      #e2a8ff 0,
      #9e018e 100%
    );
    color: #333;
    display: block;
    font-weight: 700;
    overflow: hidden;
    position: absolute;
    padding-left: 0.5rem;
    top: 0.2rem;
    left: 115px;
    animation: openclose 5s ease-in-out infinite; */
  }
}

.word1,
.word2,
.word3,
.word4,
.word5 {
  font-family: "Orbitron", sans-serif;
}

@keyframes openclose {
  0% {
    top: 0.2rem;
    width: 0;
  }

  5% {
    width: 0;
  }

  15% {
    width: 300px;
  }

  30% {
    top: 0.2rem;
    width: 300px;
  }

  33% {
    top: 0.2rem;
    width: 0;
  }

  35% {
    top: 0.2rem;
    width: 0;
  }

  38% {
    top: -4.5rem;
  }

  48% {
    top: -4.5rem;
    width: 300px;
  }

  62% {
    top: -4.5rem;
    width: 300px;
  }

  66% {
    top: -4.5rem;
    width: 0;
    text-indent: 0;
  }

  71% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }

  86% {
    top: -9rem;
    width: 300px;
  }

  95% {
    top: -9rem;
    width: 300px;
  }

  98% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }

  100% {
    top: 0;
    width: 0;
    text-indent: 0;
  }
}

.imagemain {
  object-fit: contain;
  width: 700px;
  height: 700px;
}

.m-main-controller {
  padding: 50px;
}

.arrow-carrousel {
  font-size: 40px;
  padding: 20px;
}

@media (max-width: 600px) {
  .imagemain {
    object-fit: contain;
    width: 395px;
    height: 340px;
  }

  .m-main-controller {
    padding: 35px;
  }
}

.conta {
  height: auto;
  width: 100vw;
  /* Created with https://www.css-gradient.com */
  background: #1c012c;
  background: -webkit-linear-gradient(top left, #1c012c, #9e018e);
  background: -moz-linear-gradient(top left, #1c012c, #9e018e);
  background: linear-gradient(to bottom right, #1c012c, #77acf0);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1080px) {
  .conta {
    height: auto;
    width: 100%;
    background: #1c012c;
    background: -webkit-linear-gradient(top left, #1c012c, #9e018e);
    background: -moz-linear-gradient(top left, #1c012c, #9e018e);
    background: linear-gradient(to bottom right, #1c012c, #77acf0);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.title {
  font-size: 55px;
  font-family: "Orbitron", sans-serif;
}
.title2 {
  font-size: 45px;
  font-family: "Orbitron", sans-serif;
}
@media (max-width: 768px) {
  .title {
    font-size: 40px;
    font-family: "Orbitron", sans-serif;
  }
  .title2 {
    font-size: 29px;
    font-family: "Orbitron", sans-serif;
  }
}

/* CSS */
.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #e2a8ff 0,
    #9e018e 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "Ubuntu", sans-serif;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.button-28 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #4169e1 0,
    #4682b4 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-28:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-28:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

/* .......................aboutpage */
.contai {
  width: 100%;
  /* height: 100vh; */
  /* background-color: #f0f8ff; */
}

.contact-section-padding {
  padding: 100px 70px;
}

@media (max-width: 600px) {
  .contai {
    width: 100%;
    /* background-color: #f0f8ff; */
  }

  .contact-section-padding {
    padding: 50px 25px;
  }
}

.text-or {
  font-family: "Orbitron", sans-serif;
}

.text-gradient {
  font-size: 50px;
  background: -webkit-linear-gradient(#9e018e, #3a4e93);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: "Orbitron", sans-serif;
}
.text-gradient-2 {
  font-size: 40px;
  background: -webkit-linear-gradient(#9e018e, #3a4e93);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: "Orbitron", sans-serif;
}
@media (max-width: 600px) {
  .text-gradient-2 {
    font-size: 28px;
    background: -webkit-linear-gradient(#9e018e, #3a4e93);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: "Orbitron", sans-serif;
  }
}

.text-gradient-small {
  font-size: 50px;
  /* background: -webkit-linear-gradient(#9e018e, #3a4e93); */
  color: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: white;
  text-align: center;
  font-family: "Orbitron", sans-serif;
  margin-top: 45px;
}
.about-text {
  font-size: 52px;
  color: blue;
  -webkit-background-clip: text;
  text-align: center;
  font-family: "Orbitron", sans-serif;
  margin-top: 45px;
}

.text-gradient-home {
  /* font-size: 62px; */
  background: -webkit-linear-gradient(#9e018e, #3a4e93);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: "Orbitron", sans-serif;
}

.title-home-text {
  font-size: 42px;
  background: -webkit-linear-gradient(#9e018e, #3a4e93);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: "Orbitron", sans-serif;
}

.paragraph-home-text {
  color: #3a4e93;
  font-size: 20px;
}

.ourvision {
  color: #3a4e93;
  text-align: center;
  font-family: "Orbitron", sans-serif;
}

.paragraph {
  color: #3a4e93;
  margin-top: 20px;
  padding-button: 10px;
  font-family: "Ubuntu", sans-serif;
  line-height: 1.7em;
  font-size: 20px;
}

.tech2-image {
  display: none;
}

.border-radius-8 {
  border-radius: 8px;
}

@media (max-width: 600px) {
  .text-gradient {
    font-size: 42px;
    background: -webkit-linear-gradient(#9e018e, #3a4e93);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: "Orbitron", sans-serif;
  }

  .text-gradient-small {
    font-size: 32px;
    /* background: -webkit-linear-gradient(#9e018e, #3a4e93); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: white;
    text-align: center;
    font-family: "Orbitron", sans-serif;
    margin-top: 45px;
  }

  .ourvision {
    color: #3a4e93;
    text-align: center;
    font-family: "Orbitron", sans-serif;
  }

  .paragraph {
    color: #3a4e93;
    margin-top: 20px;
    padding-button: 10px;
    /* font-family: "Orbitron", sans-serif; */
    line-height: 1.7em;
  }

  .tech-image {
    display: none;
  }

  .tech2-image {
    display: block;
    width: 100%;
    border-radius: 10px;
  }
}

/* .navbar {
  background-color: #f0f8ff;
} */

div.toast:not(.hide) {
  transition: all 0.6s ease-in-out;
}

.tech-image {
  width: 85%;
  height: 400px;
  border-radius: 10px;
}

.p-image {
  padding: 25px;
  margin-top: 80px;
}

/* ///////////////////////contactus */
/* .conta-form {
  display: flex;
  justify-content: space-evenly;
  justify-content: space-between
} */

.contact-button-box {
  display: flex;
  justify-content: flex-start;
}

.contact-text-area {
  resize: none;
}

@media (max-width: 992px) {
  .contact-button-box {
    display: flex;
    justify-content: center;
  }
}

.responsive-contact-form {
  width: 500px;
  height: auto;
  border: 1px solid black;
  display: none;
}

@media (max-width: 600px) {
  .responsive-contact-form {
    width: 100%;
    height: 350px;
    border: 3px solid blue;
    border-radius: 8px;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .p-image {
    padding: 10px;
    margin-top: 80px;
  }

  .no-mobile {
    display: none;
  }

  .conta-form {
    display: grid;
    justify-content: flex-start;
  }

  .input-responisve {
    height: 45px;
  }
}

.texts {
  /* padding-left: 160px; */
}

.email {
  /* width: 570px; */
  height: 45px;
  border-radius: 10px;
  margin-top: 15px;
  border: 1px solid black;
}

.name {
  /* width: 270px; */
  height: 45px;
  border-radius: 10px;
  margin-right: 25px;
  margin-top: 15px;
  border: 1px solid black;
}

.phone {
  /* width: 270px; */
  height: 45px;
  border-radius: 10px;
  margin-top: 15px;
  border: 1px solid black;
}

.mensaje {
  /* width: 570px; */
  height: 115px;
  border-radius: 10px;
}

.text-area {
  margin-top: 15px;
}

.webD-flex {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.letters-top {
  margin-top: 3rem;
}

.mletter-5 {
  margin: 3rem;
}

.mar-controller {
  margin: 3rem;
}

.mt-cards-controller {
  margin-top: 3rem;
}

@media (max-width: 600px) {
  .mar-controller {
    margin: 1rem;
  }

  .mt-cards-controller {
    margin-top: 1rem;
  }

  .mletter-5 {
    margin-top: 0rem;
  }

  .letters-top {
    margin-top: 1rem;
  }

  .webD-flex {
    display: flex;
    justify-content: space-between;
  }

  .texts {
    padding-left: 0px;
  }

  .email {
    width: 348px;
    height: 45px;
    border-radius: 10px;
    margin-top: 15px;
  }

  .name {
    width: 160px;
    height: 45px;
    border-radius: 10px;
    margin-right: 25px;
    margin-top: 15px;
  }

  .phone {
    width: 160px;
    height: 45px;
    border-radius: 10px;
    margin-top: 15px;
  }

  .mensaje {
    width: 348px;
    height: 115px;
    border-radius: 10px;
  }
}

.title-contact-1 {
  font-family: "Orbitron", sans-serif;
  color: #3a4e93;
  margin-button: 55px;
  font-size: 20px;
}

.title-contact-2 {
  font-family: "Orbitron", sans-serif;
  color: #3a4e93;
  margin-top: 20px;
}

.title-contact-3 {
  color: #3a4e93;
  font-size: 15px;
  margin-top: 20px;
}

@media (max-width: 667px) {
  .title-contact-2 {
    font-size: 42px;
    padding: 0px;
  }
}

.second-box {
  width: 350px;
  height: 320px;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5c58b6 0,
    #5994ce 100%
  );
  margin-bottom: 20px;
  border-radius: 7px;
  align-items: center;
}

.blue-gradient-background {
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5c58b6 0,
    #5994ce 100%
  ) !important;
}

.p-box {
  font-family: "Orbitron", sans-serif;
  color: white;
  padding-top: 35px;
}

.fa-envelope {
  color: white;
  font-size: 35px;
  margin-left: 15px;
  margin-right: 10px;
  margin-top: 15px;
}

.fa-map-marker-alt {
  color: white;
  font-size: 35px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
}
.icon-blue {
  color: white;
  font-size: 35px;
  margin-left: 15px;
  margin-right: 10px;
  margin-top: 15px;
}
.icon-white {
  color: white !important;
  margin-left: 20px;
}

.text-contact-box {
  font-family: "Orbitron", sans-serif;
  color: white;
  margin-top: 15px;
}

.strong {
  font-family: "Orbitron", sans-serif;
  color: #3a4e93;
  font-size: 17px;
}

.checkbox-round {
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 20%;
  vertical-align: middle;
  border: 2px solid #3a4e93;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  margin-right: 10px;
}

.checkbox-round:checked {
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5c58b6 0,
    #5994ce 100%
  );
}

/* //////////////////projects////////////////////// */
/* .project-container {
  background: #fbfbfb;
  height: 100vh;
} */
.box {
  position: relative;
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  border-radius: 20px;
}

.box::after {
  content: " ";
  position: absolute;
  inset: 4px;
  background: -webkit-linear-gradient(top left, #1c012c, #9e018e);
  background: -moz-linear-gradient(top left, #1c012c, #9e018e);
  background: linear-gradient(to bottom right, #1c012c, #9e018e);
  border-radius: 16px;
}

.box::before {
  content: " ";
  position: absolute;
  height: 140%;
  width: 150px;
  background: linear-gradient(#00ccff, #00ccff);
  animation: animate 3s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.box h2 {
  font-size: 9px;
  color: #fff;
  z-index: 10;
}

/* /////////////////questions///////////////// */

.questions-box {
  width: 400px;
  height: 350px;
  border: solid 3px #5c58b6;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: grid;
  border-radius: 10px;
  margin: 20px;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5c58b6 0,
    #5994ce 100%
  );
  position: fixed;
}

.answer-box {
  width: 650px;
  padding: 45px;
  height: auto;
  border: solid 3px #5c58b6;
  border-radius: 10px;
  margin: 20px;
  margin-left: 605px;
}

@media (max-width: 1286px) {
  .answer-box {
    width: 650px;
    padding: 45px;
    height: auto;
    border: solid 3px #5c58b6;
    border-radius: 10px;
    margin: 20px;
    margin-left: 500px;
  }
}

.bg-answer {
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #ffffff 0,
    #f7f5f5 100%
  );
  border-radius: 3px;
  padding: 5px;
}

.question-border {
  padding: 20px;
  border-bottom: 1px solid #5c58b6;
  display: flex;
  font-family: "Orbitron", sans-serif;
}

.link-tag {
  font-family: "Orbitron", sans-serif;
  color: white;
  text-decoration: none;
}

.nav-link {
  white-space: nowrap;
}

.box-project {
  width: 550px;
  height: 695px;
  padding: 10px;
  border: 2px solid #5c58b6;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* position: relative; */
}

.img-project {
  width: 500px;
  height: 400px;
  margin: auto;
  border-radius: 3px;
}

.img-project1 {
  width: 495px;
  height: 400px;
  margin: auto;
  border-radius: 3px;
  object-fit: fill;
  margin-top: 15px;
}
@media (max-width: 1080px) {
  .box-project {
    width: 500px;
    height: auto;
    padding: 10px;
    border: 2px solid #5c58b6;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* position: relative; */
  }
  .img-project1 {
    width: 445px;
    height: 400px;
    margin: auto;
    border-radius: 3px;
    object-fit: fill;
    margin-top: 15px;
  }
  .img-project {
    width: 445px;
    height: 400px;
    margin: auto;
    border-radius: 3px;
  }
}

@media (max-width: 1150px) {
  .box-project {
    width: 430px;
    height: auto;
    padding: 10px;
    border: 2px solid #5c58b6;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* position: relative; */
  }
  .img-project1 {
    width: 375px;
    height: 327px;
    margin: auto;
    border-radius: 3px;
    object-fit: fill;
    margin-top: 15px;
  }
}

@media (max-width: 700px) {
  .box-project {
    width: 350px;
    height: auto;
    padding: 10px;
    border: 2px solid #5c58b6;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* position: relative; */
  }

  .img-project {
    width: 300px;
    height: 200px;
    margin: auto;
    border-radius: 3px;
  }
  .img-project1 {
    width: 300px;
    height: 260px;
    margin: auto;
    border-radius: 3px;
    object-fit: fill;
    margin-top: 15px;
  }
}

.text-gradient2 {
  font-size: 50px;
  background: -webkit-linear-gradient(#9e018e, #3a4e93);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: "Orbitron", sans-serif;
  padding: 30px;
}

.description {
  color: #3a4e93;
  /* font-family: "Orbitron", sans-serif; */
  font-size: 18px;
}

.margin-left {
  margin-left: 130px;
}

@media (max-width: 667px) {
  .margin-left {
    margin-left: 30px;
  }
}

/* //////////////////////////services////////////////// */

.box-services {
  width: 300px;
  height: 440px;
  border: 1px solid black;
  margin: auto;
  margin-top: 55px;
  padding: 15px;
  border-radius: 10px;
  background: white;
  color: #3a4e93;
  font-family: "Orbitron", sans-serif;
  border: 2px solid #5c58b6;
}

.box-services-home {
  width: 300px;
  height: 440px;
  /* border: 1px solid black; */
  margin: auto;
  margin-top: 55px;
  padding: 15px;
  border-radius: 10px;
  background: white;
  color: #3a4e93;
  font-family: "Orbitron", sans-serif;
  /* border: 2px solid #5c58b6; */
}

.logo-image {
  width: 100px;
  height: 100px;
}

/* .text-services {
  color: #3a4e93;
  font-family: "Orbitron", sans-serif;
} */
.box-services:hover {
  color: white;
  border: none;
}

/* ///////////////////////responisve box seriveces.///////////////////////////////// */
.responsiveBox {
  boxshadow: 0px, 0px, 8px, rgba(255, 255, 255);
  background: linear-gradient(
    291deg,
    rgba(28, 1, 44, 1) 0%,
    rgba(158, 1, 142, 1) 47%
  );
  display: none;
  width: 300px;
  height: 440px;
  border: 1px solid black;
  margin: auto;
  margin-top: 55px;
  padding: 15px;
  border-radius: 10px;
  color: #3a4e93;
  font-family: "Orbitron", sans-serif;
  border: 2px solid #5c58b6;
}

@media (max-width: 767px) {
  .responsiveBox {
    /* boxshadow: 0px, 0px, 8px, rgba(255, 255, 255); */
    background: linear-gradient(
      291deg,
      rgba(28, 1, 44, 1) 0%,
      rgba(158, 1, 142, 1) 47%
    );
    display: block;
    width: 300px;
    height: 440px;
    margin: auto;
    margin-top: 55px;
    padding: 15px;
    border-radius: 10px;
    color: white;
    font-family: "Orbitron", sans-serif;
    border: 2px solid #5c58b6;
  }

  .display-none-big-screen {
    display: none;
  }

  .box-services {
    display: none;
  }
}

.squaer1 {
  width: 25px;
  height: 25px;
  /* boxshadow: 0px, 0px, 8px, rgba(255, 255, 255); */
  background: linear-gradient(
    291deg,
    rgba(28, 1, 44, 1) 0%,
    rgba(158, 1, 142, 1) 47%
  );
  border-radius: 3px;
}

.squaer {
  width: 15px;
  height: 15px;
  /* boxshadow: 0px, 0px, 8px, rgba(255, 255, 255); */
  background: linear-gradient(
    291deg,
    rgba(28, 1, 44, 1) 0%,
    rgba(158, 1, 142, 1) 47%
  );
  border-radius: 3px;
}

.icon-image {
  width: 100px;
  height: 100px;
}

@media (max-width: 600px) {
  .squaer {
    display: none;
  }

  .squaer1 {
    display: none;
  }

  .icon-image {
    /* margin-button: 10px; */
  }
}

.map-card {
  /* background-color: #66cae3; */
  background-image: url("https://www.armyupress.army.mil/portals/7/military-review/img/ENGLISHja2017/map-Ellis.png");
  width: 300px;
  height: 250px;
}

.map-card-usa {
  /* background-color: #66cae3; */
  background-image: url("https://geographic.media/wp-content/uploads/USA-Google-Map.jpg");
  width: 300px;
  height: 250px;
}

.map-card-spain {
  /* background-color: #66cae3; */
  background-image: url("https://tse4.mm.bing.net/th?id=OIP.xwMExNaXm71ukR3jmWcwcwHaEy&pid=Api&P=0");
  width: 100%;
  height: 250px;
}

.bg-blue-gradient {
  background: linear-gradient(to bottom right, #1c012c, #77acf0);
}

.bg-dark-gray {
  background-color: #494949 !important;
}

.nav-link.active {
  background-color: transparent !important;
}

.entire-card {
  border-radius: 8px;
  border: solid 2px #3a4e93;
}

.homepage-banner-padding {
  padding: 100px 0px;
}

.bg-banner-1 {
  background-color: #f8f9fa;
  width: 100%;
  height: auto;
}

.bg-banner-2 {
  background: #1c012c;
  background: -webkit-linear-gradient(top left, #1c012c, #9e018e);
  background: -moz-linear-gradient(top left, #1c012c, #9e018e);
  background: linear-gradient(to bottom right, #1c012c, #77acf0);
  width: 100%;
  height: auto;
}

.bg-grey-lines {
  background-color: #f8f9fa;
  width: 100%;
  height: auto;
}

.bg-banner-3 {
  background-color: #e4e4e5;
  width: 100%;
  height: auto;
}

.bg-banner-4 {
  background-color: #fdfafabd;
  width: 100%;
  height: 500px;
}

.person1 {
  background-color: cyan;
  height: 300px;
  width: 240px;
  border-radius: 12px;
}

.img-person-1 {
  height: 300px;
  width: 240px;
  border-radius: 12px;
  object-fit: cover;
}

.person2 {
  background-color: green;
  height: 200px;
  width: 250px;
  border-radius: 12px;
}

.img-person-2 {
  height: 200px;
  width: 250px;
  border-radius: 12px;
  object-fit: cover;
}

.person3 {
  background: green;
  height: 200px;
  width: 280px;
  border-radius: 12px;
  margin-top: 20px;
}

.img-person-3 {
  height: 200px;
  width: 280px;
  border-radius: 12px;
  object-fit: cover;
}

.person4 {
  height: 305px;
  width: 280px;
  border-radius: 12px;
  margin-top: -80px;
  object-fit: contain;
}

.img-person-4 {
  height: 305px;
  width: 280px;
  border-radius: 12px;
  object-fit: cover;
}

.text-controller-2 {
  text-align: center;
}

.image-lastProject {
  width: auto;
  height: 100px;
  object-fit: contain;
}

/* ////card */
.home-image-project {
  /* background-image: url("captureElana.png"); */
  width: 250px;
  height: 250px;
  object-fit: contain;
  margin-top: -143px;
}

.home-image-project-screen {
  width: 350px;
  height: 350px;
  object-fit: contain;
  margin-top: -143px;
}

.card-home {
  background-color: #e9e9e9;
  width: 350px;
  height: auto;
  border-radius: 13px;
}

.card-home-screen {
  background-color: #e9e9e9;
  width: 350px;
  height: 200px;
  border-radius: 13px;
}

/* .wave {
  width: 800px;
  height: 200px;
  position: relative;
  background: red;
}

.wave:after {
  content: "";
  width: 50%;
  position: absolute;
  height: 200px;
  display: block;
  border-bottom: 19px solid black;
  border-radius: 50%;
  left: 50%;
}

.wave:before {
  content: "";
  width: 50%;
  position: absolute;
  height: 200px;
  display: block;
  border-top: 19px solid black;
  border-radius: 50%;
} */

.icon-home {
  margin-top: 200px;
  font-size: 52px;
}

.arrow-down {
  font-size: 52px;
  margin-left: 180px;
}

.carouselController {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .carouselController {
    display: block;
  }

  .bg-banner-3 {
    background-color: #e4e4e5;
    width: 100%;
    height: auto;
  }
}

.info-project-home {
  width: 100%;
  /* background-color: rgb(199, 228, 238); */
  height: 500px;
  margin: 40px;
  /* margin-right: 100px; */
  display: flex;
  justify-content: center;
  align-items: center;

  /* border-radius: 20px; */
}

.img-project-1 {
  width: 430px;
  height: 400px;
  border-radius: 20px;
}

.border-name-project {
  border-bottom: solid 5px rgb(199, 228, 238);
  width: 200px;
}

@media (max-width: 767px) {
  .border-name-project {
    border-bottom: solid 5px rgb(199, 228, 238);
    width: 100%;
  }
}

/* /// mmau start wirking here  */

.col-banner {
  display: d-flex;
}

.card-banner-2 {
  width: 18rem;
  height: 30rem;
  border: solid 2px #3a4e93;
  color: black;
}

.title-banner-box {
  display: flex;
  margin-top: 30px;
  margin-bottom: -10px;
  justify-content: center;
}

.title-banner-color {
  width: auto;
  color: black;
  margin-left: 1rem;
  margin-right: 1rem;
  font-family: "Orbitron", sans-serif;
  font-weight: bolder;
  background: radial-gradient(100% 100% at 100% 0, #e2a8ff 0, #9e018e 100%);
  border-radius: 3px;
  white-space: nowrap;
}

.description-banner-box {
  display: flex;
}

.description-banner {
  display: flex;
  margin-left: 1rem;
  margin-top: 2rem;
  flex-wrap: wrap;
  align-items: center;
  height: 10rem;
  font-size: 1rem;
  font-family: "Orbitron", sans-serif;
}

.icon-banner {
  display: flex;
  height: 4.5rem;
  width: 4.5rem;
  margin-top: 10.5rem;
  margin-left: 13rem;
}

.icon-banner2 {
  display: flex;
  height: 4.5rem;
  width: 4.5rem;
  margin-top: 9rem;
  margin-left: 12.5rem;
}

.icon-banner3 {
  display: flex;
  height: 4.5rem;
  width: 4.5rem;
  margin-top: 9.3rem;
  margin-left: 13rem;
}

/* /////////////////////////////web development page */

.webDevelopment-image {
  width: 100%;
  height: 600px;
  object-fit: cover;
  opacity: 0.9;
  filter: brightness(30%);
}

.text-webdevelopment {
  color: white;
  font-size: 23px;
  font-family: "Orbitron", sans-serif;
}

.title-webdevelopment {
  color: white !important;
  font-family: "Orbitron", sans-serif;
  font-size: 48px;
}
.title-webdevelopment-2 {
  color: white !important;
  font-family: "Orbitron", sans-serif;
  font-size: 48px;
}
@media (max-width: 600px) {
  .title-webdevelopment-2 {
    color: white !important;
    font-family: "Orbitron", sans-serif;
    font-size: 38px;
  }
  .title-webdevelopment {
    color: white !important;
    font-family: "Orbitron", sans-serif;
    font-size: 30px;
  }
}

.border-down-web-development {
  border-bottom: 2px solid white !important;
  width: 200px;
  white-space: nowrap;
}

.btn-outline-primary {
  color: #4682b4;
  border-color: #4682b4;
}

.btn-outline-primary:hover {
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #4169e1 0,
    #4682b4 100%
  );
  border-color: #4682b4;
}

.controller-p {
  padding: 11.3px;
}

.wD-2banner {
  /* background-color: #fff; */
  height: auto;
  width: 100%;
}

.box-chart {
  width: 150px;
  height: 150px;
  background-color: #4682b4;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white !important;
  font-family: "Orbitron", sans-serif;
  padding: 10px;
}

.box-charts-two {
  width: 200px;
  height: 150px;
  background-color: #4682b4;
  margin-top: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white !important;
  padding: 10px;
  font-family: "Orbitron", sans-serif;
}

.box-charts-three {
  width: 200px;
  height: 200px;
  background-color: #4682b4;
  margin-top: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white !important;
  font-family: "Orbitron", sans-serif;
  padding: 10px;
}

.box-charts-four {
  width: 140px;
  height: 170px;
  background-color: #4682b4;
  margin-left: -2px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  color: white !important;
  font-family: "Orbitron", sans-serif;
}

@media (max-width: 768px) {
  .text-webdevelopment {
    font-size: 15px;
  }

  .img-project-1 {
    width: 175px;
    height: 300px;
    border-radius: 20px;
    margin-left: -55px;
  }

  .box-chart {
    width: 120px;
    height: 120px;
    background-color: #4682b4;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white !important;
    font-family: "Orbitron", sans-serif;
    padding: 10px;
  }

  .info-project-home {
    width: 100%;
    background-color: rgb(199, 228, 238);
    height: 400px;
    /* margin-right: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;

    /* border-radius: 20px; */
  }

  .box-charts-two {
    width: 150px;
    height: 100px;
    background-color: #4682b4;
    margin-top: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white !important;
    padding: 10px;
    font-family: "Orbitron", sans-serif;
  }

  .box-charts-three {
    width: 150px;
    height: 150px;
    background-color: #4682b4;
    margin-top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white !important;
    font-family: "Orbitron", sans-serif;
    padding: 10px;
  }

  .box-charts-four {
    width: 110px;
    height: 150px;
    background-color: #4682b4;
    margin-left: -2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    color: white !important;
    font-family: "Orbitron", sans-serif;
  }
}

/* //////////////////////////services */
.techWeuseBanner {
  /* background: linear-gradient(to bottom right, #1c012c, #77acf0); */
  background: #e4e4e5;
  width: 100%;
  height: auto;
}

.circle-technologies {
  background-color: #eee;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
}

.circle-technologies-child {
  position: absolute;
  top: 30%;
  left: 50%;
  margin: -50px 0 0 -50px;
}

.reactlogo {
  width: 100px;
  height: 130px;
}

.jslogo {
  width: 100px;
  height: 100px;
}
.nextlogo {
  width: 180px;
  height: 180px;
  padding-bottom: 13px;
}

.controller-circle {
  margin-left: -12px;
}

.tech-text {
  color: white;
  font-size: 55px;
  font-family: "Orbitron", sans-serif;
}

.tech-text-black {
  color: black;
  font-size: 50px;
  font-family: "Orbitron", sans-serif;
}

.tech-text-blue {
  color: #77acf0;
  /* font-size: 55px; */
  font-family: "Orbitron", sans-serif;
}

.makeit-close {
  margin-top: -6px;
}

.border-large {
  border-top: 5px solid #1c012c;
  width: 90%;
}

.border-med {
  border-top: 3px solid #77acf0;
  width: 70%;
  margin-top: 25px;
}

.border-med-min {
  height: 20px;
  border-top: 3px solid #9e018e;
  width: 30%;
  padding-bottom: 55px;
}

.box-card-mobile-app {
  width: 230px;
  height: auto;
  background-color: #9e018e;
  color: white;
  padding: 20px;
  border-radius: 8px;
}

.bg-card-mobile-app {
  background-color: #f8f9fa;
  width: 100%;
  height: auto;
}

.img-logo {
  width: 100px;
  height: 100px;
}

.intro-image {
  width: 550px;
  height: 550px;
}
@media (max-width: 1300px) {
  .intro-image {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 600px) {
  .intro-image {
    width: 220px;
    height: 220px;
  }
}

.techBox {
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 10%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.image-web-development {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.image-card-photo {
  height: 450px;
  object-fit: cover;
}

.image-carrousel-photo {
  height: 650px;
  object-fit: cover;
}

.blue-bg-card {
  background: linear-gradient(to bottom right, #1c012c, #77acf0);
}

.hover-overlay-container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  flex-direccion: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  border-radius: 10%;
}

.overlay:hover {
  opacity: 1;
}

.tab-margin-controlller {
  margin-left: 70px;
  margin-right: 70px;
}

.image-tabs {
  width: 500px;
  height: 400px;
  object-fit: cover;
}
@media (max-width: 767px) {
  .image-tabs {
    width: 350px;
    height: 250px;
    object-fit: cover;
  }
}

.services-banner-3 {
  /* background-color: white; */
  background: linear-gradient(to bottom right, #1c012c, #77acf0);
  width: 100%;
  height: auto;
  padding: 20px;
  padding-bottom: 100px;
}

.card-service-3-banner {
  background-image: url("https://images.pexels.com/photos/3705645/pexels-photo-3705645.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-repeat: no-repeat;
  width: 300px;
  height: 400px;
  border-radius: 30px;
  background-size: cover;
  filter: brightness(70%);
  position: relative;
}
.card-service-3-banner:hover {
  background-image: url("https://images.pexels.com/photos/3705645/pexels-photo-3705645.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-repeat: no-repeat;
  width: 300px;
  height: 400px;
  border-radius: 30px;
  background-size: cover;
  filter: brightness(100%);
  position: relative;
}

@media (max-width: 767px) {
  .card-service-3-banner {
    background-image: url("https://images.pexels.com/photos/3705645/pexels-photo-3705645.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-repeat: no-repeat;
    width: 300px;
    height: 400px;
    border-radius: 30px;
    background-size: cover;
    filter: brightness(70%);
    position: relative;
    margin-top: 25px;
  }
}

.card-pic-3 {
  width: 300px;
  height: 400px;
  border-radius: 30px;
}

.text-carousel-projects {
  font-family: "Orbitron", sans-serif;
  font-size: 30px;
}

.text-p-carousel-projects {
  text-indent: 0px;
  letter-spacing: 2px;
  line-height: 1.5;
}

.just-desktop {
  display: block;
}

.just-mobile {
  display: none;
}

.duration-carousel-projects {
  font-family: "Orbitron", sans-serif;
}

@media (max-width: 767px) {
  .text-p-carousel-projects {
    text-indent: 0px;
    letter-spacing: 2px;
    line-height: 1.5;
    text-align: center;
  }

  .just-desktop {
    display: none;
  }

  .just-mobile {
    display: block;
  }

  .text-carousel-projects {
    font-family: "Orbitron", sans-serif;
    font-size: 25px;
    text-align: center;
  }

  .duration-carousel-projects {
    font-family: "Orbitron", sans-serif;
    text-align: center;
  }
}

.nav-justified .nav-item .nav-link {
  width: 100%;
  border-color: #dee2e6 #dee2e6 #fff;
}

.pad-controller-tab {
  padding-left: 100px;
  padding-right: 100px;
  background: #e4e4e5;
}
@media (max-width: 600px) {
  .pad-controller-tab {
    padding-left: 90px;
    padding-right: 100px;
    background: #e4e4e5;
  }
}

.bg-tabs {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.tabs-border {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.bg-tabs:hover {
  background: linear-gradient(to bottom right, #1c012c, #77acf0);
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.border-controller-mobile-app {
  border-radius: 30px;
}

.squre-services {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  bottom: 0px;
  right: 20px;
  margin: 15px;
}
.fa-icon {
  font-size: 30px;
  color: blue;
}

.fa-icon {
  font-size: 30px;
  color: blue;
  margin-top: 5px;
  marginp-left: 5px;
}
.services-text-card {
  font-family: "Orbitron", sans-serif;
  z-index: ;
}
.padding-controller-our-vision {
  padding: 3rem;
}
.margin-just-phone {
  margin-left: 0px;
}
@media (max-width: 500px) {
  .margin-just-phone {
    margin-left: -80px;
  }
}
@media (max-width: 768px) {
  .padding-controller-our-vision {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}
.fs-20 {
  font-size: 20px;
}
.products-banner {
  width: 100%;
  height: 700px;
}

.box-products {
  width: 300px;
  height: 300px;
  background: linear-gradient(to bottom right, #1c012c, #77acf0);
  z-index: 2;
  position: absolute;
  margin-left: 500px;
  margin-top: 400px;
  border-radius: 50%;
}
.box-products-2 {
  width: 200px;
  height: 200px;
  z-index: 1;
  background: -webkit-linear-gradient(top left, #1c012c, #9e018e);
  border-radius: 50%;
  position: absolute;
  margin-right: 580px;
  margin-top: 900px;
}
.box-product-origin {
  background: rgba(255, 255, 255, 0.32);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 540px;
  height: 262px;
  z-index: 3;
  margin-left: auto;
  margin-top: 600px;
  position: absolute;
}
@media (max-width: 600px) {
  .box-products {
    width: 220px;
    height: 220px;
    background: linear-gradient(to bottom right, #1c012c, #77acf0);
    z-index: 2;
    position: absolute;
    margin-left: 147px;
    margin-top: 400px;
    border-radius: 50%;
  }
  .box-products-2 {
    width: 200px;
    height: 200px;
    z-index: 1;
    background: -webkit-linear-gradient(top left, #1c012c, #9e018e);
    border-radius: 50%;
    position: absolute;
    margin-right: 150px;
    margin-top: 900px;
  }
  .box-product-origin {
    background: rgba(255, 255, 255, 0.32);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 315px;
    height: 350px;
    z-index: 3;
    margin-left: auto;
    margin-top: 600px;
    position: absolute;
  }
}
.testest {
  height: auto;
}
.no-phone {
  display: block;
}
.pt-controller-5 {
  padding-top: 3rem;
}
.bg-link-navbar {
  background-color: transparent transparent;
}
.text-black-nav {
  color: black !important;
}
.display-center-mobile {
  display: block;
}
@media (max-width: 650px) {
  .no-phone {
    display: none;
  }
  .pt-controller-5 {
    padding-top: 0rem;
  }
  .bg-link-navbar {
    background-color: #343a40;
    width: 90%;
    height: auto;
    margin: 10px;
    color: white;
    border-radius: 3px;
    padding: 3px;
    text-align: center;
  }
  .text-black-nav {
    color: white !important;
  }
  .display-center-mobile {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    padding-bottom: 5px;
  }
}
.modal-input {
  width: 300px;
  border-radius: 5px;
  border: 2px solid #77acf0;
  height: 40px;
}
.text-size-controller {
  text-align: start;
}
.button-display-mobile {
  display: block;
}
@media (max-width: 990px) {
  .text-size-controller {
    text-align: center;
  }
  .button-display-mobile {
    display: flex;
    justify-content: center;
  }
}
