@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
}
h1 {
  color: white;
  font-family: "Orbitron", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 650px;
}

h1 span {
  font-size: 50px;
  margin-left: 0px;
}

.message {
  /* background-color: #5994ce; */
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5c58b6 0,
    #5994ce 100%
  );
  color: #333;
  display: block;
  font-weight: 700;
  overflow: hidden;
  position: absolute;
  padding-left: 0.5rem;
  top: 0.2rem;
  left: 200px;
  animation: openclose 5s ease-in-out infinite;
}

.word1,
.word2,
.word3,
.word4,
.word5 {
  font-family: "Orbitron", sans-serif;
}

@keyframes openclose {
  0% {
    top: 0.2rem;
    width: 0;
  }
  5% {
    width: 0;
  }
  15% {
    width: 300px;
  }
  30% {
    top: 0.2rem;
    width: 300px;
  }
  33% {
    top: 0.2rem;
    width: 0;
  }
  35% {
    top: 0.2rem;
    width: 0;
  }
  38% {
    top: -4.5rem;
  }
  48% {
    top: -4.5rem;
    width: 300px;
  }
  62% {
    top: -4.5rem;
    width: 300px;
  }
  66% {
    top: -4.5rem;
    width: 0;
    text-indent: 0;
  }
  71% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }
  86% {
    top: -9rem;
    width: 300px;
  }
  95% {
    top: -9rem;
    width: 300px;
  }
  98% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }
  100% {
    top: 0;
    width: 0;
    text-indent: 0;
  }
}
.imagemain {
  object-fit: contain;
  width: 700px;
  height: 700px;
}
.conta {
  height: 100vh;
  width: 100vw;
  /* Created with https://www.css-gradient.com */
  background: #1c012c;
  background: -webkit-linear-gradient(top left, #1c012c, #9e018e);
  background: -moz-linear-gradient(top left, #1c012c, #9e018e);
  background: linear-gradient(to bottom right, #1c012c, #9e018e);
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  font-size: 55px;
  font-family: "Orbitron", sans-serif;
}
.title2 {
  font-size: 45px;
  font-family: "Orbitron", sans-serif;
}

/* CSS */
.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5c58b6 0,
    #5994ce 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

/* .......................aboutpage */
.contai {
  width: 100%;
  height: 100vh;
  padding: 70px;
  /* background-color: #f0f8ff; */
}
.text-gradient {
  font-size: 92px;
  background: -webkit-linear-gradient(#9e018e, #3a4e93);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: "Orbitron", sans-serif;
}
.ourvision {
  color: #3a4e93;
  text-align: center;
  font-family: "Orbitron", sans-serif;
}
.paragraph {
  color: #3a4e93;
  margin-top: 20px;
  padding-button: 10px;
  font-family: "Orbitron", sans-serif;
  line-height: 1.7em;
}

/* .navbar {
  background-color: #f0f8ff;
} */

div.toast:not(.hide) {
  transition: all 0.6s ease-in-out;
}

/* ///////////////////////contactus */
.conta-form {
  display: flex;
  justify-content: space-evenly;
}
.texts {
  padding-left: 160px;
}
.email {
  width: 570px;
  height: 45px;
  border-radius: 10px;
  margin-top: 15px;
}
.name {
  width: 270px;
  height: 45px;
  border-radius: 10px;
  margin-right: 25px;
  margin-top: 15px;
}
.phone {
  width: 270px;
  height: 45px;
  border-radius: 10px;
  margin-top: 15px;
}
.mensaje {
  width: 570px;
  height: 115px;
  border-radius: 10px;
}
.text-area {
  margin-top: 15px;
}

.title-contact-1 {
  font-family: "Orbitron", sans-serif;
  color: #3a4e93;
  margin-button: 55px;
  font-size: 20px;
}

.title-contact-2 {
  font-family: "Orbitron", sans-serif;
  color: #3a4e93;
  font-size: 62px;
  margin-top: 20px;
}
.title-contact-3 {
  font-family: "Orbitron", sans-serif;
  color: #3a4e93;
  font-size: 15px;
  margin-top: 20px;
}
.second-box {
  width: 350px;
  height: 320px;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5c58b6 0,
    #5994ce 100%
  );
  margin-button: 20px;
  border-radius: 7px;
  align-items: center;
}
.p-box {
  font-family: "Orbitron", sans-serif;
  color: white;
  padding-top: 35px;
}
.fa-envelope {
  color: white;
  font-size: 35px;
  margin-left: 15px;
  margin-right: 10px;
  margin-top: 15px;
}
.fa-map-marker-alt {
  color: white;
  font-size: 35px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
}
.fa-mobile-alt {
  color: white;
  font-size: 35px;
  margin-left: 15px;
  margin-right: 10px;
  margin-top: 15px;
}
.text-contact-box {
  font-family: "Orbitron", sans-serif;
  color: white;
  margin-top: 15px;
}
.strong {
  font-family: "Orbitron", sans-serif;
  color: #3a4e93;
  font-size: 17px;
}

.checkbox-round {
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 20%;
  vertical-align: middle;
  border: 2px solid #3a4e93;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  margin-right: 10px;
}

.checkbox-round:checked {
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5c58b6 0,
    #5994ce 100%
  );
}
/* //////////////////projects////////////////////// */
.project-container {
  background: #fbfbfb;
  height: 100vh;
}
.box {
  position: relative;
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  border-radius: 20px;
}

.box::after {
  content: " ";
  position: absolute;
  inset: 4px;
  background: -webkit-linear-gradient(top left, #1c012c, #9e018e);
  background: -moz-linear-gradient(top left, #1c012c, #9e018e);
  background: linear-gradient(to bottom right, #1c012c, #9e018e);
  border-radius: 16px;
}
.box::before {
  content: " ";
  position: absolute;
  height: 140%;
  width: 150px;
  background: linear-gradient(#00ccff, #00ccff);
  animation: animate 3s linear infinite;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.box h2 {
  font-size: 9px;
  color: #fff;
  z-index: 10;
}

/* /////////////////questions///////////////// */

.questions-box {
  width: 400px;
  height: 350px;
  border: solid 3px #5c58b6;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: grid;
  border-radius: 10px;
  margin: 20px;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5c58b6 0,
    #5994ce 100%
  );
}

.answer-box {
  width: 650px;
  padding: 45px;
  height: auto;
  border: solid 3px #5c58b6;
  border-radius: 10px;
  margin: 20px;
  margin-left: 165px;
}
.bg-answer {
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5c58b6 0,
    #5994ce 100%
  );
  border-radius: 3px;
  padding: 5px;
}
.question-border {
  padding: 20px;
  border-bottom: 1px solid #5c58b6;
  display: flex;
  font-family: "Orbitron", sans-serif;
}
.link-tag {
  font-family: "Orbitron", sans-serif;
  color: white;
  text-decoration: none;
}
.nav-link {
  white-space: nowrap;
}
