@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&display=swap");

/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.testFont {
  font-family: Stereofunk;
  color: black;
}

* {
  box-sizing: border-box;
}

body {
}

/* //////////////////////navbar/////////////////////////////// */

/* ///////////////////homepage////////////////////// */
h1 {
  color: white;
  font-family: "Orbitron", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 650px;
}

h1 span {
  font-size: 50px;
  margin-left: 0px;
}

.message {
  /* background-color: #5994ce; */
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #e2a8ff 0,
    #9e018e 100%
  );
  color: #333;
  display: block;
  font-weight: 700;
  overflow: hidden;
  position: absolute;
  padding-left: 0.5rem;
  top: 0.2rem;
  left: 200px;
  animation: openclose 5s ease-in-out infinite;
}

.word1,
.word2,
.word3,
.word4,
.word5 {
  font-family: "Orbitron", sans-serif;
}

@keyframes openclose {
  0% {
    top: 0.2rem;
    width: 0;
  }

  5% {
    width: 0;
  }

  15% {
    width: 300px;
  }

  30% {
    top: 0.2rem;
    width: 300px;
  }

  33% {
    top: 0.2rem;
    width: 0;
  }

  35% {
    top: 0.2rem;
    width: 0;
  }

  38% {
    top: -4.5rem;
  }

  48% {
    top: -4.5rem;
    width: 300px;
  }

  62% {
    top: -4.5rem;
    width: 300px;
  }

  66% {
    top: -4.5rem;
    width: 0;
    text-indent: 0;
  }

  71% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }

  86% {
    top: -9rem;
    width: 300px;
  }

  95% {
    top: -9rem;
    width: 300px;
  }

  98% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }

  100% {
    top: 0;
    width: 0;
    text-indent: 0;
  }
}

.imagemain {
  object-fit: contain;
  width: 700px;
  height: 700px;
}

.conta {
  height: auto;
  width: 100vw;
  /* Created with https://www.css-gradient.com */
  background: #1c012c;
  background: -webkit-linear-gradient(top left, #1c012c, #9e018e);
  background: -moz-linear-gradient(top left, #1c012c, #9e018e);
  background: linear-gradient(to bottom right, #1c012c, #77acf0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 55px;
  font-family: "Orbitron", sans-serif;
}

.title2 {
  font-size: 45px;
  font-family: "Orbitron", sans-serif;
}

/* CSS */
.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #e2a8ff 0,
    #9e018e 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.button-28 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #4169e1 0,
    #4682b4 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-28:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-28:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

/* .......................aboutpage */
.contai {
  width: 100%;
  height: 100vh;
  padding: 70px;
  /* background-color: #f0f8ff; */
}

@media (max-width: 600px) {
  .contai {
    width: 100%;
    height: 100vh;
    padding: 25px;
    /* background-color: #f0f8ff; */
  }
}

.text-or {
  font-family: "Orbitron", sans-serif;
}

.text-gradient {
  font-size: 72px;
  background: -webkit-linear-gradient(#9e018e, #3a4e93);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: "Orbitron", sans-serif;
}

.text-gradient-small {
  font-size: 52px;
  background: -webkit-linear-gradient(#9e018e, #3a4e93);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: "Orbitron", sans-serif;
  margin-top: 45px;
}

.text-gradient-home {
  font-size: 62px;
  background: -webkit-linear-gradient(#9e018e, #3a4e93);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: "Orbitron", sans-serif;
}

.title-home-text {
  font-size: 42px;
  background: -webkit-linear-gradient(#9e018e, #3a4e93);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: "Orbitron", sans-serif;
}

.paragraph-home-text {
  color: #3a4e93;
  font-family: "Verdana", sans-serif;
  font-size: 20px;
}

.ourvision {
  color: #3a4e93;
  text-align: center;
  font-family: "Orbitron", sans-serif;
}

.paragraph {
  color: #3a4e93;
  margin-top: 20px;
  padding-button: 10px;
  font-family: "Orbitron", sans-serif;
  line-height: 1.7em;
}

.tech2-image {
  display: none;
}

.border-radius-8 {
  border-radius: 8px;
}

@media (max-width: 600px) {
  .text-gradient {
    font-size: 52px;
    background: -webkit-linear-gradient(#9e018e, #3a4e93);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: "Orbitron", sans-serif;
  }

  .text-gradient-small {
    font-size: 32px;
    background: -webkit-linear-gradient(#9e018e, #3a4e93);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: "Orbitron", sans-serif;
    margin-top: 45px;
  }

  .ourvision {
    color: #3a4e93;
    text-align: center;
    font-family: "Orbitron", sans-serif;
  }

  .paragraph {
    color: #3a4e93;
    margin-top: 20px;
    padding-button: 10px;
    font-family: "Orbitron", sans-serif;
    line-height: 1.7em;
  }

  .tech-image {
    display: none;
  }

  .tech2-image {
    display: block;
    width: 100%;
    border-radius: 10px;
  }
}

/* .navbar {
  background-color: #f0f8ff;
} */

div.toast:not(.hide) {
  transition: all 0.6s ease-in-out;
}

.tech-image {
  width: 85%;
  height: 400px;
  border-radius: 10px;
}

.p-image {
  padding: 25px;
  margin-top: 80px;
}

/* ///////////////////////contactus */
.conta-form {
  display: flex;
  justify-content: space-evenly;
}

.responsive-contact-form {
  width: 500px;
  height: auto;
  border: 1px solid black;
  display: none;
}

@media (max-width: 600px) {
  .responsive-contact-form {
    width: 100%;
    height: 350px;
    border: 3px solid blue;
    border-radius: 8px;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .p-image {
    padding: 10px;
    margin-top: 80px;
  }

  .no-mobile {
    display: none;
  }

  .conta-form {
    display: grid;
  }

  .input-responisve {
    height: 45px;
  }
}

.texts {
  padding-left: 160px;
}

@media (max-width: 600px) {
  .texts {
    padding-left: 0px;
  }
}

.email {
  width: 570px;
  height: 45px;
  border-radius: 10px;
  margin-top: 15px;
}

.name {
  width: 270px;
  height: 45px;
  border-radius: 10px;
  margin-right: 25px;
  margin-top: 15px;
}

.phone {
  width: 270px;
  height: 45px;
  border-radius: 10px;
  margin-top: 15px;
}

.mensaje {
  width: 570px;
  height: 115px;
  border-radius: 10px;
}

.text-area {
  margin-top: 15px;
}

.title-contact-1 {
  font-family: "Orbitron", sans-serif;
  color: #3a4e93;
  margin-button: 55px;
  font-size: 20px;
}

.title-contact-2 {
  font-family: "Orbitron", sans-serif;
  color: #3a4e93;
  font-size: 62px;
  margin-top: 20px;
}

.title-contact-3 {
  font-family: "Orbitron", sans-serif;
  color: #3a4e93;
  font-size: 15px;
  margin-top: 20px;
}

@media (max-width: 667px) {
  .title-contact-2 {
    font-size: 42px;
    padding: 0px;
  }
}

.second-box {
  width: 350px;
  height: 320px;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5c58b6 0,
    #5994ce 100%
  );
  margin-button: 20px;
  border-radius: 7px;
  align-items: center;
}

.p-box {
  font-family: "Orbitron", sans-serif;
  color: white;
  padding-top: 35px;
}

.fa-envelope {
  color: white;
  font-size: 35px;
  margin-left: 15px;
  margin-right: 10px;
  margin-top: 15px;
}

.fa-map-marker-alt {
  color: white;
  font-size: 35px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
}

.fa-mobile-alt {
  color: white;
  font-size: 35px;
  margin-left: 15px;
  margin-right: 10px;
  margin-top: 15px;
}

.text-contact-box {
  font-family: "Orbitron", sans-serif;
  color: white;
  margin-top: 15px;
}

.strong {
  font-family: "Orbitron", sans-serif;
  color: #3a4e93;
  font-size: 17px;
}

.checkbox-round {
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 20%;
  vertical-align: middle;
  border: 2px solid #3a4e93;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  margin-right: 10px;
}

.checkbox-round:checked {
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5c58b6 0,
    #5994ce 100%
  );
}

/* //////////////////projects////////////////////// */
/* .project-container {
  background: #fbfbfb;
  height: 100vh;
} */
.box {
  position: relative;
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  border-radius: 20px;
}

.box::after {
  content: " ";
  position: absolute;
  inset: 4px;
  background: -webkit-linear-gradient(top left, #1c012c, #9e018e);
  background: -moz-linear-gradient(top left, #1c012c, #9e018e);
  background: linear-gradient(to bottom right, #1c012c, #9e018e);
  border-radius: 16px;
}

.box::before {
  content: " ";
  position: absolute;
  height: 140%;
  width: 150px;
  background: linear-gradient(#00ccff, #00ccff);
  animation: animate 3s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.box h2 {
  font-size: 9px;
  color: #fff;
  z-index: 10;
}

/* /////////////////questions///////////////// */

.questions-box {
  width: 400px;
  height: 350px;
  border: solid 3px #5c58b6;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: grid;
  border-radius: 10px;
  margin: 20px;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5c58b6 0,
    #5994ce 100%
  );
  position: fixed;
}

.answer-box {
  width: 650px;
  padding: 45px;
  height: auto;
  border: solid 3px #5c58b6;
  border-radius: 10px;
  margin: 20px;
  margin-left: 605px;
}

@media (max-width: 1286px) {
  .answer-box {
    width: 650px;
    padding: 45px;
    height: auto;
    border: solid 3px #5c58b6;
    border-radius: 10px;
    margin: 20px;
    margin-left: 500px;
  }
}

.bg-answer {
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #ffffff 0,
    #f7f5f5 100%
  );
  border-radius: 3px;
  padding: 5px;
}

.question-border {
  padding: 20px;
  border-bottom: 1px solid #5c58b6;
  display: flex;
  font-family: "Orbitron", sans-serif;
}

.link-tag {
  font-family: "Orbitron", sans-serif;
  color: white;
  text-decoration: none;
}

.nav-link {
  white-space: nowrap;
}

.box-project {
  width: 550px;
  height: 650px;
  padding: 10px;
  border: 2px solid #5c58b6;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* position: relative; */
}

@media (max-width: 667px) {
  .box-project {
    width: 350px;
    height: 450px;
    padding: 10px;
    border: 2px solid #5c58b6;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* position: relative; */
  }
}

.img-project {
  width: 500px;
  height: 400px;
  margin: auto;
  border-radius: 3px;
}

.img-project1 {
  width: 300px;
  height: 400px;
  margin: auto;
  border-radius: 3px;
  object-fit: fill;
}

@media (max-width: 667px) {
  .box-project {
    width: 350px;
    height: 450px;
    padding: 10px;
    border: 2px solid #5c58b6;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* position: relative; */
  }

  .img-project {
    width: 300px;
    height: 200px;
    margin: auto;
    border-radius: 3px;
  }
}

.text-gradient2 {
  font-size: 52px;
  background: -webkit-linear-gradient(#9e018e, #3a4e93);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: "Orbitron", sans-serif;
  padding: 30px;
}

.description {
  color: #3a4e93;
  font-family: "Orbitron", sans-serif;
  font-size: 15px;
}

.margin-left {
  margin-left: 130px;
}

@media (max-width: 667px) {
  .margin-left {
    margin-left: 30px;
  }
}

/* //////////////////////////services////////////////// */

.box-services {
  width: 300px;
  height: 440px;
  border: 1px solid black;
  margin: auto;
  margin-top: 55px;
  padding: 15px;
  border-radius: 10px;
  background: white;
  color: #3a4e93;
  font-family: "Orbitron", sans-serif;
  border: 2px solid #5c58b6;
}
.box-services-home {
  width: 300px;
  height: 440px;
  /* border: 1px solid black; */
  margin: auto;
  margin-top: 55px;
  padding: 15px;
  border-radius: 10px;
  background: white;
  color: #3a4e93;
  font-family: "Orbitron", sans-serif;
  /* border: 2px solid #5c58b6; */
}

.logo-image {
  width: 100px;
  height: 100px;
}

/* .text-services {
  color: #3a4e93;
  font-family: "Orbitron", sans-serif;
} */
.box-services:hover {
  color: white;
  border: none;
}

/* ///////////////////////responisve box seriveces.///////////////////////////////// */
.responsiveBox {
  boxshadow: 0px, 0px, 8px, rgba(255, 255, 255);
  background: linear-gradient(
    291deg,
    rgba(28, 1, 44, 1) 0%,
    rgba(158, 1, 142, 1) 47%
  );
  display: none;
  width: 300px;
  height: 440px;
  border: 1px solid black;
  margin: auto;
  margin-top: 55px;
  padding: 15px;
  border-radius: 10px;
  color: #3a4e93;
  font-family: "Orbitron", sans-serif;
  border: 2px solid #5c58b6;
}

@media (max-width: 767px) {
  .responsiveBox {
    /* boxshadow: 0px, 0px, 8px, rgba(255, 255, 255); */
    background: linear-gradient(
      291deg,
      rgba(28, 1, 44, 1) 0%,
      rgba(158, 1, 142, 1) 47%
    );
    display: block;
    width: 300px;
    height: 440px;
    margin: auto;
    margin-top: 55px;
    padding: 15px;
    border-radius: 10px;
    color: white;
    font-family: "Orbitron", sans-serif;
    border: 2px solid #5c58b6;
  }

  .display-none-big-screen {
    display: none;
  }

  .box-services {
    display: none;
  }
}

.squaer1 {
  width: 25px;
  height: 25px;
  /* boxshadow: 0px, 0px, 8px, rgba(255, 255, 255); */
  background: linear-gradient(
    291deg,
    rgba(28, 1, 44, 1) 0%,
    rgba(158, 1, 142, 1) 47%
  );
  border-radius: 3px;
}

.squaer {
  width: 15px;
  height: 15px;
  /* boxshadow: 0px, 0px, 8px, rgba(255, 255, 255); */
  background: linear-gradient(
    291deg,
    rgba(28, 1, 44, 1) 0%,
    rgba(158, 1, 142, 1) 47%
  );
  border-radius: 3px;
}

.icon-image {
  width: 100px;
  height: 100px;
}

@media (max-width: 600px) {
  .squaer {
    display: none;
  }

  .squaer1 {
    display: none;
  }

  .icon-image {
    /* margin-button: 10px; */
  }
}

.map-card {
  /* background-color: #66cae3; */
  background-image: url("https://www.armyupress.army.mil/portals/7/military-review/img/ENGLISHja2017/map-Ellis.png");
  width: 300px;
  height: 250px;
}

.map-card-usa {
  /* background-color: #66cae3; */
  background-image: url("https://geographic.media/wp-content/uploads/USA-Google-Map.jpg");
  width: 300px;
  height: 250px;
}

.map-card-spain {
  /* background-color: #66cae3; */
  background-image: url("https://tse4.mm.bing.net/th?id=OIP.xwMExNaXm71ukR3jmWcwcwHaEy&pid=Api&P=0");
  width: 100%;
  height: 250px;
}

.bg-blue-gradient {
  background: linear-gradient(to bottom right, #1c012c, #77acf0);
}

.bg-dark-gray {
  background-color: #494949 !important;
}

.nav-link.active {
  background-color: transparent !important;
}

.entire-card {
  border-radius: 8px;
  border: solid 2px #3a4e93;
}

.homepage-banner-padding {
  padding: 100px 0px;
}

.bg-banner-1 {
  background-color: #f8f9fa;
  width: 100%;
  height: auto;
}

.bg-banner-2 {
  background: #1c012c;
  background: -webkit-linear-gradient(top left, #1c012c, #9e018e);
  background: -moz-linear-gradient(top left, #1c012c, #9e018e);
  background: linear-gradient(to bottom right, #1c012c, #77acf0);
  width: 100%;
  height: auto;
}

.bg-grey-lines {
  background-color: #f8f9fa;
  width: 100%;
  height: auto;
}

.bg-banner-3 {
  background-color: #f8f9fa;
  width: 100%;
  height: 600px;
}

.bg-banner-4 {
  background-color: #fdfafabd;
  width: 100%;
  height: 500px;
}

.person1 {
  background-color: cyan;
  height: 300px;
  width: 240px;
  border-radius: 12px;
}

.img-person-1 {
  height: 300px;
  width: 240px;
  border-radius: 12px;
  object-fit: cover;
}

.person2 {
  background-color: green;
  height: 200px;
  width: 250px;
  border-radius: 12px;
}

.img-person-2 {
  height: 200px;
  width: 250px;
  border-radius: 12px;
  object-fit: cover;
}

.person3 {
  background: green;
  height: 200px;
  width: 280px;
  border-radius: 12px;
  margin-top: 20px;
}

.img-person-3 {
  height: 200px;
  width: 280px;
  border-radius: 12px;
  object-fit: cover;
}

.person4 {
  height: 305px;
  width: 280px;
  border-radius: 12px;
  margin-top: -80px;
  object-fit: contain;
}

.img-person-4 {
  height: 305px;
  width: 280px;
  border-radius: 12px;
  object-fit: cover;
}

.text-controller-2 {
  text-align: center;
}

.image-lastProject {
  width: auto;
  height: 100px;
  object-fit: contain;
}

/* ////card */
.home-image-project {
  /* background-image: url("captureElana.png"); */
  width: 250px;
  height: 250px;
  object-fit: contain;
  margin-top: -143px;
}

.home-image-project-screen {
  width: 350px;
  height: 350px;
  object-fit: contain;
  margin-top: -143px;
}

.card-home {
  background-color: #e9e9e9;
  width: 350px;
  height: auto;
  border-radius: 13px;
}

.card-home-screen {
  background-color: #e9e9e9;
  width: 350px;
  height: 200px;
  border-radius: 13px;
}

/* .wave {
  width: 800px;
  height: 200px;
  position: relative;
  background: red;
}

.wave:after {
  content: "";
  width: 50%;
  position: absolute;
  height: 200px;
  display: block;
  border-bottom: 19px solid black;
  border-radius: 50%;
  left: 50%;
}

.wave:before {
  content: "";
  width: 50%;
  position: absolute;
  height: 200px;
  display: block;
  border-top: 19px solid black;
  border-radius: 50%;
} */

.icon-home {
  margin-top: 200px;
  font-size: 52px;
}

.arrow-down {
  font-size: 52px;
  margin-left: 180px;
}

.carouselController {
  display: flex;
  justify-content: space-between;
}

.info-project-home {
  width: 100%;
  background-color: rgb(199, 228, 238);
  height: 500px;
  margin: 40px;
  margin-right: 100px;

  /* border-radius: 20px; */
}

.img-project-1 {
  width: 630px;
  height: 400px;
  border-radius: 20px;
  margin-left: 100px;
}

.border-name-project {
  border-bottom: solid 5px rgb(199, 228, 238);
  width: 200px;
}

/* /// mmau start wirking here  */

.col-banner {
  display: d-flex;
}

.card-banner-2 {
  width: 18rem;
  height: 30rem;
  border: solid 2px #3a4e93;
  color: black;
}

.title-banner-box {
  display: flex;
  margin-top: 30px;
  margin-bottom: -10px;
  justify-content: center;
}

.title-banner-color {
  width: auto;
  color: black;
  margin-left: 1rem;
  margin-right: 1rem;
  font-family: "Orbitron", sans-serif;
  font-weight: bolder;
  background: radial-gradient(100% 100% at 100% 0, #e2a8ff 0, #9e018e 100%);
  border-radius: 3px;
  white-space: nowrap;
}

.description-banner-box {
  display: flex;
}

.description-banner {
  display: flex;
  margin-left: 1rem;
  margin-top: 2rem;
  flex-wrap: wrap;
  align-items: center;
  height: 10rem;
  font-size: 1rem;
  font-family: "Orbitron", sans-serif;
}

.icon-banner {
  display: flex;
  height: 4.5rem;
  width: 4.5rem;
  margin-top: 10.5rem;
  margin-left: 13rem;
}

.icon-banner2 {
  display: flex;
  height: 4.5rem;
  width: 4.5rem;
  margin-top: 9rem;
  margin-left: 12.5rem;
}

.icon-banner3 {
  display: flex;
  height: 4.5rem;
  width: 4.5rem;
  margin-top: 9.3rem;
  margin-left: 13rem;
}

/* /////////////////////////////web development page */

.webDevelopment-image {
  width: 100%;
  height: 600px;
  object-fit: cover;
  opacity: 0.9;
  filter: brightness(30%);
}

.text-webdevelopment {
  color: white;
  font-size: 23px;
  font-family: "Orbitron", sans-serif;
}

.title-webdevelopment {
  color: white !important;
  font-family: "Orbitron", sans-serif;
}

.border-down-web-development {
  border-bottom: 2px solid white !important;
  width: 200px;
  white-space: nowrap;
}

.btn-outline-primary {
  color: #4682b4;
  border-color: #4682b4;
}

.btn-outline-primary:hover {
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #4169e1 0,
    #4682b4 100%
  );
  border-color: #4682b4;
}

.controller-p {
  padding: 11.3px;
}

.wD-2banner {
  background-color: #fff;
  height: 500px;
  width: 100%;
}

.box-chart {
  width: 150px;
  height: 150px;
  background-color: #4682b4;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white !important;
  font-family: "Orbitron", sans-serif;
  padding: 10px;
}

.box-charts-two {
  width: 200px;
  height: 150px;
  background-color: #4682b4;
  margin-top: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white !important;
  padding: 10px;
  font-family: "Orbitron", sans-serif;
}

.box-charts-three {
  width: 200px;
  height: 200px;
  background-color: #4682b4;
  margin-top: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white !important;
  font-family: "Orbitron", sans-serif;
  padding: 10px;
}

.box-charts-four {
  width: 140px;
  height: 170px;
  background-color: #4682b4;
  margin-left: -2px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  color: white !important;
  font-family: "Orbitron", sans-serif;
}

/* //////////////////////////services */
.techWeuseBanner {
  background: linear-gradient(to bottom right, #1c012c, #77acf0);
  width: 100%;
  height: auto;
}

.circle-technologies {
  background-color: #eee;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
}

.circle-technologies-child {
  position: absolute;
  top: 30%;
  left: 50%;
  margin: -50px 0 0 -50px;
}

.reactlogo {
  width: 100px;
  height: 130px;
}

.jslogo {
  width: 100px;
  height: 100px;
}

.controller-circle {
  margin-left: -12px;
}

.tech-text {
  color: white;
  font-size: 55px;
  font-family: "Orbitron", sans-serif;
}

.tech-text-blue {
  color: #77acf0;
  font-size: 55px;
  font-family: "Orbitron", sans-serif;
}

.makeit-close {
  margin-top: -6px;
}

.border-large {
  border-top: 3px solid #e2a8ff;
  width: 70%;
}

.border-med {
  border-top: 3px solid #9e018e;
  width: 50%;
  margin-top: 25px;
}

.border-med-min {
  height: 20px;
  border-top: 3px solid #9e018e;
  width: 30%;
  padding-bottom: 55px;
}
.box-card-mobile-app {
  width: 230px;
  height: auto;
  background-color: #9e018e;
  color: white;
  padding: 20px;
  border-radius: 8px;
}
.bg-card-mobile-app {
  background-color: #f8f9fa;
  width: 100%;
  height: auto;
}
.img-logo {
  width: 100px;
  height: 100px;
}

.intro-image {
  width: 300px;
  height: 300px;
}
@media (max-width: 600px) {
  .intro-image {
    width: 220px;
    height: 220px;
  }
}
