/* @font-face {
  font-family: "Drip"; 
  src: local("Drip"), url(../fonts/DripOctober-vm0JA.ttf) format("truetype");
} */

@font-face {
  font-family: "Stereofunk";
  src: local("Stereofunk"), url(../fonts/Stereofunk.ttf) format("truetype");
}

/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

/*
    Class Styles
*/
.fs-52 {
  font-size: 52px !important;
}

.fs-20 {
  font-size: 20px !important;
}