/* @font-face {
  font-family: "Drip"; 
  src: local("Drip"), url(../fonts/DripOctober-vm0JA.ttf) format("truetype");
} */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@font-face {
  font-family: "Stereofunk";
  src: local("Stereofunk"), url(../fonts/Stereofunk.ttf) format("truetype");
}

/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

/*
    Class Styles
*/
.fs-52 {
  font-size: 52px !important;
}

.fs-20 {
  font-size: 20px !important;
}

.card-service-3-banner {
  background-image: url("../img/4049187.jpg");
  background-repeat: no-repeat;
  width: 300px;
  height: 400px;
  border-radius: 30px;
  background-size: cover;
}
.fs-50 {
  font-size: 50px !important;
}
.Orbitron {
  font-family: "Orbitron", sans-serif;
}
.ubunto {
  font-family: "Ubuntu", sans-serif;
}
.icon-projects {
  font-size: 30px;
}
